{% extends '/layout/base.html.twig' %}

{% block title %}
    Edition d'un utilisateur
{% endblock %}

{% block content %}

    <section id="authentication" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Edition d'un utilisateur</h2>
                    <form method="POST">
                        <div class="form-group">
                            <label for="idUser">ID</label>
                            <input type="text" class="form-control" id="idUser" name="idUser" readonly="readonly" value="{{ user.idUser }}">
                        </div>
                        <div class="form-group">
                            <label for="firstname">Prénom</label>
                            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Prénom" value="{{ user.firstname }}">
                        </div>
                        <div class="form-group">
                            <label for="lastname">Nom</label>
                            <input type="text" class="form-control" id="lastname" name="lastname" placeholder="Nom" value="{{ user.lastname }}">
                        </div>
                        <div class="form-group">
                            <label for="mailAddress">Adresse email</label>
                            <input type="email" class="form-control" id="mailAddress" name="mailAddress" placeholder="Adresse email" value="{{ user.mailAddress }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Mot de passe" value="{{ user.password }}">
                        </div>
                        <div class="form-group">
                            <label for="passwordconfirm">Confirmation du mot de passe</label>
                            <input type="password" class="form-control" id="passwordconfirm" name="passwordconfirm" placeholder="Confirmation du mot de passe" value="{{ user.passwordconfirm }}">
                        </div>
                        <a href="/user/index" class="btn btn-secondary">Annuler</a>
                        <button type="submit" class="btn btn-primary">Sauver</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}